@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: rgb(0, 19, 40);
}

.App{
  height: 100vh;
  width: 100vw;
  background-color: rgb(18, 35, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainCon{
  height: 400px;
  width: 400px;
  padding: 0px 30px;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header p{
  font-weight: 300;
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.Game{
  display: flex;
  flex-wrap: wrap;
}

.dice{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin:8px 8px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.944);
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay1{
  background-image: url(./assests/1.png);
}
.overlay2 {
  background-image: url(./assests/2.png);
}
.overlay3 {
  background-image: url(./assests/3.png);
}
.overlay4 {
  background-image: url(./assests/4.png);
}
.overlay5 {
  background-image: url(./assests/5.png);
}
.overlay6 {
  background-image: url(./assests/6.png);
}

.dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.Footer{
padding-top: 20px;
}

.green{
  background-color: #59E391;
}

.Footer button{
  border: none;
  border-radius: 10px;
  background-color: #5035FF;
  color: whitesmoke;
  height: 40px;
  width: 85px;
}

.Footer button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}